.wrapper {
    padding: 0.5rem 1rem;
    border: 2px solid #fb6700;
    height: 640px;
    background-color:#f2e6dc ;
    position: relative;
}

.main_circle {
    height: 600px;
    width: 600px;
    left: 25%;
    top: 20px;
}

.sub_circle_size {
    height: 200px;
    width: 300px;
    transform-origin: 100% 50%;
}

.sub_circle1 {
    left: 0;
    top: 200px;
    transform: rotate(0deg);
}

.sub_circle2 {
    left: 0;
    top: 200px;
    transform: rotate(60deg);
}

.sub_circle3 {
    left: 0;
    top: 200px;
    transform: rotate(120deg);
}

.sub_circle4 {
    left: 0;
    top: 200px;
    transform: rotate(180deg);
}

.sub_circle5 {
    left: 0;
    top: 200px;
    transform: rotate(240deg);
}

.sub_circle6 {
    left: 0;
    top: 200px;
    transform: rotate(300deg);
}

.circle_title {
    transform: rotate(0deg);
}

.circle_title2 {
    transform: rotate(-60deg);
}

.circle_title3 {
    transform: rotate(-120deg);
}

.circle_title4 {
    transform: rotate(-180deg);
}

.circle_title5 {
    transform: rotate(-240deg);
}

.circle_title6 {
    transform: rotate(-300deg);
}

.circle_wrapper {
    position: absolute;
}

.circleOkr {
    border-radius: 50%;
    height: 600px;
    width: 600px;
    border: 2px solid #7000ff;
    position: relative;
    background-color: #c79cfd;
}

.circleTeam {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: 2px solid #7000ff;
    position: relative;
    background-color: #c79cfd;
}

.circleTeam:hover {
    border: 4px solid black;
    background-color: #a35aff;
}

.zoom {
    border-radius: 50%;
    height: 600px;
    width: 600px;
    border: 2px solid #7000ff;
    position: relative;
    background-color: #c79cfd;
}

li {
    list-style-type: none;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

p {
    margin: 0;
    text-align: center;
    position: relative;
    top: 45%;
    font-size: 30px;
}