.wrapper {
    padding: 0.5rem 1rem;
    border: 2px solid #fb6700;
    height: 640px;
    background-color:#f2e6dc ;
    position: relative;
    overflow: auto;
}

.invisible {
    display: none;
}

.progress-ring{
    transform: rotate(-90deg);
    transform-origin: center;
}

.treeName {
    text-align: center;
    padding-top: 35%;
}

.circleOkr {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    outline: 1px solid #7000ff;
    position: relative;
    background-color: #c79cfd;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}

.circleOkr:hover {
    outline: 2px solid black;
    background-color: #a35aff;
}

.branch {
    border: 2px solid black;
    width: 80%;
    height: 1%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    position: relative;
}

.branch2 {
    border: 2px solid black;
    width: 80%;
    height: 1%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    position: relative;
}

.node {
    border: 2px solid black;
    width: 1px;
    height: 3%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

.root-wrapper {
    height: 150px;
}

.node2 {
    border: 2px solid black;
    width: 1px;
    height: 20px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}

.circleTeam {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    outline: 1px solid #7000ff;
    background-color: #c79cfd;
}

.circle-wrapper {
    height: 122px;
    width: 100px;
}

.circleTeam:hover {
    outline: 2px solid black;
    background-color: #a35aff;
}

.zoom {
    border-radius: 50%;
    height: 600px;
    width: 600px;
    border: 2px solid #7000ff;
    position: relative;
    background-color: #c79cfd;
}

li {
    list-style-type: none;
}

ul {
    margin-left: 0;
    padding-left: 0;
}