.login {
    display: flex;
    justify-content: space-around;
}

.login-wrapper {
    position: relative;
}

.title {
    font-size: 30px;
    text-align:center;
    margin-top: 10%;
}

.googleAuth {
    width: 50%;
    margin-top: 100px;
    border: 4px solid orange;
}

.brand-background1 {
    position: absolute;
    height: 200px;
    top: 10%;
}

.brand-background2 {
    position: absolute;
    height: 200px;
    top: 10%;
    left: 78%;
}

.no-padding {
    padding: 0;
}


